In [12]:
import numpy as np 
import pandas as pd

from gsdmm import MovieGroupProcess

from gensim.models.coherencemodel import CoherenceModel
from gensim import corpora, models
from gensim.utils import simple_preprocess
import gensim
from gensim.models.ldamulticore import LdaMulticore
import re
import spacy

from gensim.models import Phrases
from gensim.models.phrases import Phraser

In [13]:
df=pd.read_csv('sdg_preprocessed.csv')

In [14]:
df

,Unnamed: 0,date,Tweet,labels
0,0,2021-10-15 00:05:27+00:00,çinde den e kadar asgari ücret kodlaması var ...,negative
1,1,2021-10-15 00:11:08+00:00,aman aman önemli işler yapıyorsunuzeytasgari ü...,negative
2,2,2021-10-15 00:22:51+00:00,asgari ücret yıla bedel olacak,negative
3,3,2021-10-15 00:23:21+00:00,asgari ücret,negative
4,4,2021-10-15 00:31:42+00:00,dolar olmuş ülkede tek zam gelmeyen asgari üc...,negative
...,...,...,...,...
749182,749182,2023-02-12 22:57:51+00:00,NaN,negative
749183,749183,2023-02-12 23:04:45+00:00,ekonomiyi çökerttiler derken ak parti öncesind...,negative
749184,749184,2023-02-12 23:13:45+00:00,yandaş medya el ele vermiş emekliye gün doğdu ...,negative
749185,749185,2023-02-12 23:21:58+00:00,özel okul öğretmenlerinin asgari ücret altına ...,negative
749186,749186,2023-02-12 23:27:26+00:00,yahu ben asgari ücret geçimini sağlayan bir bi...,negative

In [15]:
positive = df[df["labels"] == "positive"]

In [16]:
positive

,Unnamed: 0,date,Tweet,labels
10,10,2021-10-15 02:00:00+00:00,türki̇ş başkanından asgari ücret zammıyla ilgi...,positive
12,12,2021-10-15 02:22:07+00:00,dolar tlenflasyon asgari ücret tl sizeoyumu...,positive
27,27,2021-10-15 04:47:59+00:00,oyun basitüç çocuk öğrenci marketpazarfaturala...,positive
30,30,2021-10-15 04:57:47+00:00,sabah vardiyasına giden gültepe mahallesindeki...,positive
33,33,2021-10-15 05:02:22+00:00,asgari ücret zam artmaz üretim artar insan hak...,positive
...,...,...,...,...
749144,749144,2023-02-12 19:42:31+00:00,i̇lk günden güne sanatçı imkanı olan herkese ç...,positive
749151,749151,2023-02-12 20:10:09+00:00,belediyeler inşaat denetimlerine giden mühendi...,positive
749156,749156,2023-02-12 20:38:35+00:00,hatırlamazsınız ben ’lerimin başlarındaydım bu...,positive
749158,749158,2023-02-12 20:55:50+00:00,milyonlarca kişinin maaşı değişiyor yeni asgar...,positive
749172,749172,2023-02-12 22:14:42+00:00,eyt vurmuş,positive

In [17]:
def make_n_grams(texts):
    bigram = gensim.models.Phrases(texts, min_count=5, threshold=100)  # higher threshold fewer phrases.
    bigram_mod = gensim.models.phrases.Phraser(bigram)
    trigram = gensim.models.Phrases(bigram[texts], threshold=100)
    trigram_mod = gensim.models.phrases.Phraser(trigram)
    bigrams_text = [bigram_mod[doc] for doc in texts]
    trigrams_text =  [trigram_mod[bigram_mod[doc]] for doc in bigrams_text]
    return trigrams_text

In [18]:
positive['Tweet'] = positive.Tweet.values.tolist()
def sent_to_words(sentences):
    for sentence in sentences:
        yield(gensim.utils.simple_preprocess(str(sentence)))

C:\Users\Alkan\AppData\Local\Temp\ipykernel_16392\2840482353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positive['Tweet'] = positive.Tweet.values.tolist()

In [19]:
tokens_tweets = list(sent_to_words(positive['Tweet']))

In [20]:
np.random.seed(0)

In [21]:
mgp = MovieGroupProcess(K=10, alpha=0.01, beta=0.01, n_iters=30) 

vocab = set(x for tweet in tokens_tweets for x in tweet)
n_terms = len(vocab)
model = mgp.fit(tokens_tweets, n_terms)

In stage 0: transferred 158115 clusters with 10 clusters populated
In stage 1: transferred 107250 clusters with 10 clusters populated
In stage 2: transferred 59782 clusters with 10 clusters populated
In stage 3: transferred 42127 clusters with 10 clusters populated
In stage 4: transferred 34913 clusters with 10 clusters populated
In stage 5: transferred 31441 clusters with 10 clusters populated
In stage 6: transferred 29571 clusters with 10 clusters populated
In stage 7: transferred 28713 clusters with 10 clusters populated
In stage 8: transferred 27222 clusters with 10 clusters populated
In stage 9: transferred 26230 clusters with 10 clusters populated
In stage 10: transferred 25206 clusters with 10 clusters populated
In stage 11: transferred 24644 clusters with 10 clusters populated
In stage 12: transferred 24508 clusters with 10 clusters populated
In stage 13: transferred 24051 clusters with 10 clusters populated
In stage 14: transferred 23624 clusters with 10 clusters populated
In stage 15: transferred 23273 clusters with 10 clusters populated
In stage 16: transferred 23088 clusters with 10 clusters populated
In stage 17: transferred 22776 clusters with 10 clusters populated
In stage 18: transferred 22570 clusters with 10 clusters populated
In stage 19: transferred 22528 clusters with 10 clusters populated
In stage 20: transferred 22514 clusters with 10 clusters populated
In stage 21: transferred 22397 clusters with 10 clusters populated
In stage 22: transferred 22273 clusters with 10 clusters populated
In stage 23: transferred 21912 clusters with 10 clusters populated
In stage 24: transferred 21792 clusters with 10 clusters populated
In stage 25: transferred 21721 clusters with 10 clusters populated
In stage 26: transferred 21851 clusters with 10 clusters populated
In stage 27: transferred 21904 clusters with 10 clusters populated
In stage 28: transferred 21391 clusters with 10 clusters populated
In stage 29: transferred 21195 clusters with 10 clusters populated

In [22]:
def top_words(cluster_word_distribution, top_cluster, values):
    for cluster in top_cluster:
        sort_dicts =sorted(mgp.cluster_word_distribution[cluster].items(), key=lambda k: k[1], reverse=True)[:values]
        print("\nCluster %s : %s"%(cluster,sort_dicts))

In [23]:
doc_count = np.array(mgp.cluster_doc_count)
print('Number of documents per topic :', doc_count)

# topics sorted by the number of document they are allocated to
top_index = doc_count.argsort()[-15:][::-1]
print('\nMost important clusters (by number of docs inside):', top_index)
# show the top 5 words in term frequency for each cluster 
top_words(mgp.cluster_word_distribution, top_index, 20)

Number of documents per topic : [36000  9549 24434 29160 27131 20466 20373  8484 10592  5982]

Most important clusters (by number of docs inside): [0 3 4 2 5 6 8 1 7 9]

Cluster 0 : [('asgari', 35353), ('ücret', 33797), ('bir', 9307), ('tl', 5578), ('kadar', 3955), ('var', 3108), ('değil', 3031), ('yok', 2829), ('bin', 2771), ('olsun', 2728), ('mi', 2514), ('maaş', 2471), ('asgariücret', 2312), ('ben', 2136), ('zam', 2104), ('bile', 1910), ('maaşı', 1903), ('emekli', 1780), ('dolar', 1636), ('lira', 1607)]

Cluster 3 : [('asgari', 32970), ('ücret', 30061), ('açıklaması', 8077), ('bakan', 5061), ('erdoğan', 4265), ('cumhurbaşkanı', 4004), ('tespit', 3992), ('türki', 3937), ('komisyonu', 3680), ('bilgin', 3632), ('bir', 3224), ('eyt', 3166), ('çalışma', 3163), ('son', 2890), ('bilginden', 2780), ('bugün', 2476), ('sosyal', 2374), ('bakanı', 2356), ('güvenlik', 2326), ('asgariücret', 2115)]

Cluster 4 : [('asgari', 27258), ('ücret', 25812), ('tl', 6559), ('bir', 6120), ('zam', 5339), ('emekli', 3035), ('bin', 2906), ('asgariücret', 2752), ('kadar', 2711), ('açlık', 2479), ('sınırı', 2430), ('maaşı', 2296), ('düşük', 1916), ('olsun', 1895), ('enflasyon', 1823), ('değil', 1764), ('altında', 1745), ('lira', 1642), ('dolar', 1641), ('göre', 1584)]

Cluster 2 : [('asgari', 27195), ('ücret', 24320), ('emekli', 5005), ('kadar', 4485), ('zam', 4403), ('olacak', 3383), ('zammı', 3265), ('asgariücret', 2909), ('belli', 2746), ('yeni', 2661), ('tl', 2643), ('oldu', 2633), ('maaşı', 2429), ('bin', 2223), ('şte', 2152), ('düşük', 2084), ('sondakika', 2017), ('son', 1942), ('cumhurbaşkanı', 1874), ('erdoğan', 1800)]

Cluster 5 : [('asgari', 24521), ('ücret', 23105), ('tl', 8057), ('dolar', 5832), ('euro', 4963), ('bir', 2651), ('türkiye', 2055), ('da', 1812), ('kaç', 1787), ('bin', 1753), ('almanya', 1668), ('almanyada', 1642), ('lira', 1607), ('kadar', 1594), ('de', 1541), ('türkiyede', 1364), ('oldu', 1341), ('olan', 1259), ('ekmek', 1170), ('litre', 1146)]

Cluster 6 : [('asgari', 21313), ('ücret', 19169), ('tl', 9371), ('olsun', 5655), ('hayırlı', 5426), ('net', 4698), ('oldu', 4289), ('olarak', 4073), ('bin', 3930), ('erdoğan', 3880), ('yeni', 3027), ('asgariücret', 2741), ('cumhurbaşkanı', 2429), ('lira', 2367), ('yılında', 2015), ('yılı', 1901), ('yüzde', 1487), ('geçerli', 1471), ('uğurlu', 1447), ('son', 1442)]

Cluster 8 : [('asgari', 10772), ('ücret', 10675), ('di', 1799), ('bir', 1746), ('sk', 1646), ('tl', 1260), ('bin', 1072), ('asgariücret', 1029), ('kadar', 933), ('net', 773), ('açıkladı', 746), ('son', 702), ('değil', 689), ('genel', 674), ('insanca', 611), ('vergi', 575), ('başkanı', 567), ('nsanca', 558), ('olmalı', 554), ('talebini', 550)]

Cluster 1 : [('asgari', 9492), ('ücret', 9135), ('açıklaması', 2164), ('bin', 1539), ('ak', 1343), ('ücretli', 1128), ('eyt', 1086), ('bir', 1022), ('genel', 917), ('parti', 878), ('kadro', 842), ('kılıçdaroğlu', 840), ('chp', 826), ('değil', 748), ('tl', 737), ('payı', 731), ('altında', 710), ('başkanı', 682), ('asgariücret', 672), ('kadar', 621)]

Cluster 7 : [('asgariücret', 3186), ('asgari', 2961), ('ücret', 2857), ('asgariuecret', 1927), ('bir', 1011), ('dolar', 956), ('zam', 757), ('sondakika', 656), ('tl', 656), ('enflasyon', 610), ('altın', 557), ('kadar', 537), ('erdoğan', 514), ('ekonomi', 462), ('dolartl', 458), ('türkiye', 403), ('eyt', 396), ('mi', 361), ('bi', 359), ('faiz', 341)]

Cluster 9 : [('asgari', 3868), ('ücret', 3779), ('asgariücret', 1175), ('bir', 1057), ('asgariuecret', 800), ('tl', 551), ('dolar', 438), ('var', 323), ('kadar', 312), ('bin', 294), ('bist', 287), ('borsa', 235), ('yeni', 226), ('sonra', 222), ('gün', 220), ('zammını', 205), ('saat', 200), ('bi', 197), ('zam', 196), ('bugün', 195)]